@charset 'utf-8';

table.line {
    border-color: #d7d7d7;
}

table.input input[type=text],
table.input input[type=password] {
    width: 234px;
}

table.input input[type=text].letter2 {
    width: 17px;
}

table.input input[type=text].letter3 {
    width: 30px;
}

table.input input[type=text].letter5 {
    width: 44px;
}

table.input input[type=text].address {
    width: 316px;
}

.contents .pageTitle:before {
    content: none;
}

/* login */
.contents.login {
    min-height: 700px;
}

.contents.login .pageTitle {
    margin-bottom: 168px;
}

.contents.login h3 {
    float: left;
    margin: -9px 0 0 80px;
}

.contents.login .form {
    float: right;
    width: 520px;
    margin-right: 80px;
}

.contents.login .form .input {
    width: 380px;
    float: left;
    margin-bottom: 12px;
}

.contents.login .form .input label {
    position: relative;
    display: block;
}

.contents.login .form .input label+label {
    margin-top: 10px;
}

.contents.login .form .input span {
    position: absolute;
    top: 4px;
    left: 0;
    bottom: 4px;
    right: 0;
    line-height: 39px;
    padding-left: 10px;
    color: #898989;
    z-index: -1;
}

.contents.login .form .input input {
    height: 39px;
    background: none;
    transition: all .3s;
}

.contents.login .form .input input:focus,
.contents.login .form .input input.on {
    background: #fff;
    border-color: #009fc4;
}

.contents.login .form .login {
    float: right;
}

.contents.login .form .login button {
    width: 130px;
    height: 100px;
    text-align: center;
    background-image: none;
    padding: 0;
}

.contents.login .checkbox {
    clear: both;
}

.contents.login .checkbox label+label {
    margin-left: 36px;
}

.contents.login .function dl {
    width: 240px;
    float: left;
}

.contents.login .function dl+dl {
    margin-left: 40px;
}

.contents.login .function dt {
    line-height: 31px;
}

.contents.login .function a {
    width: 100%;
    padding: 0;
    text-align: center;
    background-image: none;
    height: 60px;
    line-height: 60px;
}

/* find */
.contents.find nav.tab {
    border-bottom: 1px solid #111;
    background: #c2c2c2;
}

.contents.find nav.tab:after {
    content: '';
    display: block;
    clear: both;
}

.contents.find nav.tab li {
    float: left;
    width: 50%;
    height: 50px;
    margin-bottom: -1px;
}

.contents.find nav.tab li>* {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 49px;
}

.contents.find nav.tab h3 {
    height: 49px;
    border: 1px solid #111;
    border-bottom: 0;
    color: #464646;
    background: #fff;
    font-size: 16px;
    text-align: center;
}

.contents.find ul.notice {
    margin: 50px 0;
}

.contents.find .type {
    float: left;
    width: 470px;
    color: #111;
}

.contents.find .type+.type {
    float: right;
}

.contents.find .type h4 {
    line-height: 50px;
    font-size: 22px;
    font-weight: 700;
    padding: 0 3px;
}

.contents.find .type .wrap {
    background: #fafafa;
    border: 1px solid #d7d7d7;
    border-top-width: 4px;
    padding: 30px 35px;
}

.contents.find .type .infoSelect:after {
    content: '';
    display: block;
    clear: both;
}

.contents.find .type .infoSelect li {
    float: left;
    line-height: 24px;
}

.contents.find .type input[type=radio] {
    margin-right: 5px;
}

.contents.find .type dl.input {
    line-height: 25px;
}

.contents.find .type *+dl.input {
    margin-top: 20px;
}

.contents.find .type dl.input dt {
    float: left;
    width: 58px;
}

.contents.find .type dl.input dd {
    overflow: hidden;
}

.contents.find .type dl.input dd+dt {
    margin-top: 5px;
}

.contents.find .type dl.input dd+dt+dd {
    margin-top: 5px;
}

.contents.find .type dl.input dt._off,
.contents.find .type dl.input dd._off {
    display: none;
}

.contents.find .type dl.input .info>* {
    float: left;
}

.contents.find .type dl.input span {
    width: 20px;
    text-align: center;
}

.contents.find .type dl.input input {
    width: 84px;
}

.contents.find .type dl.input select {
    width: 100px;
}

.contents.find .type dl.input input[type=text]._domain {
    width: 94px;
}

.contents.find .type dl.input select._domain {
    margin-left: 10px;
}

.contents.find .type ul.notice {
    margin: 30px 0;
}

.contents.find .type .function {
    text-align: center;
}

.contents.find .type .function button {
    width: 200px;
    float: none;
    display: inline-block
}

.contents.find .type .function a {
    width: 170px;
    float: none;
    display: inline-block
}

.contents.find .type.byInfo .wrap {
    border-top-color: #109f97;
}

.contents.find .type.byInfo .infoSelect:after {
    content: '';
    display: block;
    clear: both;
}

.contents.find .type.byInfo .infoSelect li {
    font-size: 14px;
}

.contents.find .type.byInfo .infoSelect li+li {
    margin-left: 18px;
}

.contents.find .type.byInfo dl.input {
    height: 85px;
}

.contents.find .type.byInfo .function button,
.contents.find .type.byInfo .function a {
    background-color: #109f97;
}

.contents.find .type.byCertification .wrap {
    border-top-color: #f36f23;
}

.contents.find .type.byCertification .infoSelect {
    margin: 68px 0;
}

.contents.find .type.byCertification .input+.infoSelect {
    margin: 55px 0;
}

.contents.find .type.byCertification .infoSelect li {
    width: 50%;
    text-align: center;
    font-size: 18px;
}

.contents.find .type.byCertification .function button,
.contents.find .type.byCertification .function a {
    background-color: #f36f23;
}

.contents.find .text {
    text-align: center;
    font-size: 22px;
    line-height: 38px;
    font-weight: 300;
}

.contents.find .text strong {
    font-weight: 700;
}

.contents.find .text .byInfo strong {
    color: #109f97;
}

.contents.find .text .byCertification strong {
    color: #f36f23;
}

.contents.find .text ul.notice {
    margin: 10px 0;
}

.contents.find .text {
    margin: 100px 0 75px;
}

.contents.find .result {
    background: #fafafa;
    border: 1px solid #d7d7d7;
    padding: 43px 29px;
}

.contents.find .result:after {
    content: '';
    display: block;
    clear: both;
}

.contents.find .result p {
    float: left;
    line-height: 50px;
    font-size: 12px;
    color: #898989;
}

.contents.find .result p strong {
    color: #111;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}

.contents.find .result .function {
    float: right;
    margin-top: 0;
}

.contents.find .result .function button {
    width: 200px;
}

.contents.find .result .function a {
    width: 170px;
}

.contents.find .result .function strong+strong {
    margin-left: 20px;
}

.contents.find .type.newPassword {
    float: none;
    margin: 0 auto;
}

.contents.find .type.newPassword .wrap {
    border-top-color: #109f97;
}

.contents.find .type.newPassword dl.input dt {
    width: 114px;
}

.contents.find .type.newPassword ul.notice {
    margin: 40px 0;
}

/* join */
.contents.join ol.joinSteps {
    display: none;
}

/*.contents.join ol.joinSteps li,
.contents.join ol.joinSteps li h3 { display: inline-block; width: 150px; height: 150px; text-indent: -1000px; overflow: hidden; background: right top no-repeat; position: relative; }
.contents.join ol.joinSteps li h3 { display: block; background-color: #fff; }
.contents.join ol.joinSteps li + li { padding-left: 77px; }
.contents.join ol.joinSteps li + li:before { content: ''; display: block; background: url('../images/member/join_step_arrow.png') center no-repeat; width: 14px; height: 22px; margin: auto 30px; position: absolute; left: 0; top: 0; bottom: 0; }
.contents.join ol.joinSteps .step1 { background-image: url('../images/member/join_step_1.png'); }
.contents.join ol.joinSteps .step1 h3 { background-image: url('../images/member/join_step_1_on.png'); }
.contents.join ol.joinSteps .step2 { background-image: url('../images/member/join_step_2.png'); }
.contents.join ol.joinSteps .step2 h3 { background-image: url('../images/member/join_step_2_on.png'); }
.contents.join ol.joinSteps .step3 { background-image: url('../images/member/join_step_3.png'); }
.contents.join ol.joinSteps .step3 h3 { background-image: url('../images/member/join_step_3_on.png'); }
.contents.join ol.joinSteps .step4 { background-image: url('../images/member/join_step_4.png'); }
.contents.join ol.joinSteps .step4 h3 { background-image: url('../images/member/join_step_4_on.png'); }
.contents.join .text p { text-align: center; font-size: 18px; line-height: 1.5em; color: #464646; }
.contents.join .text p + p { margin-top: 30px; }
.contents.join .text p.sub { font-size: 12px; color: #898989; }
.contents.join .text p em { font-size: 30px; font-weight: 300; }*/
.contents.join .text p {
    margin-top: 60px;
}

.contents.join .text p a {
    color: #eb3b4b;
    font-weight: 700;
}

.contents.join .application span._idMessage.description {
    margin-left: 5px;
    color: #eb3b4b;
}

.contents.join .application span._idMessage.description.ok {
    color: #3d5a95;
}

.function.navigation {
    margin-top: 70px;
    text-align: center;
}

.function.navigation a,
.function.navigation button {
    float: none;
    display: inline-block;
    width: 200px;
}

.function.navigation .prev {
    background: #3d5a95 url('../images/common/btn_arrow_left_white.png') left center no-repeat;
}

.function.navigation .next {
    background: #eb3b4b url('../images/common/btn_arrow_right_white.png') right center no-repeat;
    margin-left: 37px;
}

.contents.join .memberType {
    text-align: center;
    margin: 100px 0;
}

.contents.join .memberType li {
    display: inline-block;
    width: 250px;
    height: 100px;
    background: #3d5a95;
    transition: background .3s;
}

.contents.join .memberType li:hover {
    background: #2e4980;
}

.contents.join .memberType li+li {
    margin-left: 42px;
}

.contents.join .memberType li a {
    display: block;
    padding: 15px 0 13px;
    height: 72px;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    letter-spacing: .5em;
}

.contents.join .memberType li a:hover {
    text-decoration: none;
}

.contents.join .memberType li strong {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.05em;
}


/*** join -2 ***/
.contents.join .agreement {
    margin-top: 35px;
}

.contents.join .agreement+.agreement {
    margin-top: 60px;
}

.contents.join .agreement h4 {
    margin-bottom: 10px;
}

.contents.join .agreement .scroll {
    border: 1px solid #d7d7d7;
    background: #fafafa;
    height: 258px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.contents.join .agreement .scroll p {
    padding: 10px 16px;
    line-height: 20px;
    color: #555;
    text-align: left;
}

/*** join - 3 ***/
.contents.join .application {
    margin-top: 30px;
}

.join_table tbody tr th {
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.join_table tbody tr td {
    text-align: left;
}

.join_table tbody tr td>input,
#zipcode,
#addr {
    width: 200px;
}

#addr_detail {
    width: 500px;
}

#tel_num2,
#tel_num3,
#cel_num2,
#cel_num3 {
    width: 120px;
}

#crn1,
#crn2,
#crn3 {
    width: 90px;
}

.contents.join .complete {
    margin: 100px 0;
    text-align: center;
}

.contents.join .complete p {
    margin-top: 60px;
}

.contents.join .complete .function button {
    width: 230px;
}

.contents.join .complete .function a {
    width: 200px;
}

.function.complete button {
    float: none;
    display: inline-block;
    width: 200px;
}

.function.complete .prev {
    background: #3d5a95 url('../images/common/btn_arrow_left_white.png') left center no-repeat;
}

.function.complete .next {
    background: #eb3b4b url('../images/common/btn_arrow_right_white.png') right center no-repeat;
    margin-left: 37px;
}


.sel_highlight:focus {
    background: lightblue;
}

select.dropdown_box:focus {
    background: transparent;
}