@charset 'utf-8';

/*
body { background: url('../images/cscenter/title_bg.png') center 155px repeat-x; }
body { background: url('../images/service/title_bg.png') center 105px repeat-x; }
*/

header.title {
    margin-left: -220px;
    margin-top: -30px;
}

header.title h2 {
    padding: 0;
    height: 110px;
}

.contents .title .location {
    padding-bottom: 14px;
}

ul.paging button:hover img,
ul.paging button:focus img {
    background: #aab8d6;
}

ul.paging button:hover,
ul.paging button:focus {
    border-color: #aab8d6;
    color: #aab8d6;
}

ul.paging button.on {
    background: #aab8d6;
    border-color: #aab8d6;
}

.pageTitle::before {
    content: none;
}

div.tab {
    background: #f9f9f9;
    border: 1px solid #e1e1e1;
    margin-bottom: 40px;
}

div.tab:after {
    content: '';
    display: block;
    clear: both;
}

div.tab h4,
div.tab a {
    display: block;
    float: left;
    border-width: 0 1px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background: #f9f9f9;
}

div.tab h4 {
    background: #fff;
    font-weight: 700;
    color: #111;
}

div.tab a:first-child {
    border-left-color: #e1e1e1;
}

div.tab a:last-child {
    border-right-color: #e1e1e1;
}

/* 디프린팅 소개 */
.introduce {
    background: url('../images/service/introduce_bg.png') right 514px no-repeat;
}

.introduce em {
    font-size: 36px;
    font-weight: 700;
    color: #111;
}

.introduce div.bi {
    margin: 60px 0 60px 146px;
}

.introduce p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    margin-left: 20px;
}

.introduce p+p {
    margin-top: 2em;
}

.introduce p.signature {
    font-weight: 700;
}

/* 상품 소개 */
.prdt_intro div.tab h4,
.prdt_intro div.tab a {
    width: 78px;
}

.prdt_intro div {
    background: 604px 0 no-repeat;
}

.prdt_intro div p {
    font-size: 13px;
    line-height: 30px;
    font-weight: 300;
    color: #111;
}

.prdt_intro div p+p {
    margin-top: 2em;
}

.prdt_intro .manual div .num {
    display: inline-block;
    width: 45px;
    line-height: 60px;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: url('../images/service/order_circle.png') center no-repeat;
    text-align: center;
}

.prdt_intro .manual li {
    margin-top: 40px;
}

.prdt_intro .manual div .text {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    font-size: 16px;
    color: #111;
    margin-left: 13px;
    font-weight: 700
}

.prdt_intro .manual div .text a {
    font-size: 14px;
    letter-spacing: 0;
}

.prdt_intro .manual div img {
    display: block;
    border: 10px solid #ebebeb;
    margin-top: 20px;
}

.prdt_intro_contents_wrapper {
    border: 1px solid #dfdfdf;
    width: 798px;
    padding: 30px;
    margin-bottom: 30px;
}

.prdt_intro_img {
    border: 1px solid #dfdfdf;
    display: inline-block;
}

.prdt_intro_title {
    background: url('../images/service/prdt_title_border.png') repeat-x;
    background-position-y: 30px;
    position: relative;
}

.btn_prdt_intro_order {
    position: absolute;
    top: 10px;
    right: 0;
}

.btn_prdt_intro_order a:hover {
    color: #eb3b4b;
    text-decoration: underline;
}

.prdt_intro_info {
    display: inline-block;
    width: 426px;
    vertical-align: top;
    padding-left: 30px;
}

.prdt_intro_info_table {
    border-radius: 10px;
    border: 1px solid #cccccc;
    background: #fafafa;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: left;
}

.prdt_intro_info_table th {
    padding: 6px 0px;
    text-align: left;
    border: none;
    color: #6c6c6c;
    font-weight: 600;
}

.prdt_intro_info_table td {
    padding: 6px 0px;
    text-align: left;
    border: none;
}

.prdt_intro_size_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc;
    margin-top: 20px;
}

.prdt_intro_size_table th {
    padding: 10px 0;
    border: 1px solid #cccccc;
    background: #fafafa;
    color: #6c6c6c;
    font-weight: 600;
}

.prdt_intro_size_table td {
    border: 1px solid #cccccc;
}

/* 고객서비스 */
.customer div.tab h4,
.customer div.tab a {
    width: 214px;
}

.customer dl+dl {
    margin-top: 160px;
}

.customer dl {
    margin-top: 20px;
}

.customer dd {
    color: #111;
    font-size: 13px;
    line-height: 30px;
    padding-left: 55px;
    position: relative;
}

.customer dd:before {
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    top: 11px;
    width: 5px;
    height: 5px;
    background: #111;
}

.customer.designCompany dt {
    background-color: #fcf37f;
    color: #000;
}

.customer.designCompany dt.character:before {
    content: url('../images/service/customer_designcompany_character.png');
}

.customer.generalCompany dt {
    background-color: #ed7fbc;
}

.customer.generalCompany dt.character:before {
    content: url('../images/service/customer_generalcompany_character.png');
}

.customer.personalUser dt {
    background-color: #b7b7b7;
}

.customer.personalUser dt.character:before {
    content: url('../images/service/customer_personaluser_character.png');
}

.customer.foreignUser dt {
    background-color: #7fcdef;
}

.customer.foreignUser dt.character:before {
    content: url('../images/service/customer_foreignuser_character.png');
}

/* 고객서비스 */
.order div.tab h4,
.order div.tab a {
    width: 286px;
}

.order div {
    background: 604px 0 no-repeat;
}

.order div p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    color: #111;
}

.order div p+p {
    margin-top: 2em;
}

.order .manual div .num {
    display: inline-block;
    width: 45px;
    line-height: 60px;
    vertical-align: middle;
    color: #fff;
    font-family: arial, 'dotum', '돋움', sans-serif;
    font-size: 24px;
    font-weight: 300;
    background: url('../images/service/order_circle.png') center no-repeat;
    text-align: center;
}

.order .manual li {
    margin-top: 50px;
}

.order .manual div .text {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    font-size: 12px;
    color: #111;
    margin-left: 13px;
    font-weight: 700;
    letter-spacing: 0px;
}

.order .manual div .text a {
    font-size: 14px;
    letter-spacing: 0;
}

.order .manual div img {
    display: block;
    border: 10px solid #ebebeb;
    margin-top: 20px;
}

.order.rapid .order_service_bg {
    background-image: url('../images/service/order_rapid_icon.png');
}

.order.remote .order_service_bg {
    background-image: url('../images/service/order_remote_icon.png');
}

.order.gps .order_service_bg {
    background-image: url('../images/service/order_gps_icon.png');
}

.order.estimate .order_service_bg {
    background-image: url('../images/service/order_estimate_icon.png');
}

.btn_link_estimate {
    position: absolute;
    top: 18px;
    left: 370px;
    text-align: center;
    width: 164px !important;
    height: 26px;
    bottom: 19px;
    width: 184px;
    background: #667ba5;
    color: #fff !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}

/* 지식센터 */
.knowledge button.function {
    min-width: 140px;
}

.knowledge table.update .new a {
    max-width: 450px;
}

.knowledge table.update .new.reply a {
    max-width: 400px;
}

.knowledge table.view .text {
    min-height: 360px;
}

.knowledge table.write textarea {
    height: 459px;
}

/* 사이트맵 */
.sitemap h4 {
    font-size: 15px;
    border-left: 5px solid #898989;
    padding-left: 7px;
    font-weight: bold;
    letter-spacing: -1px;
}

.sitemap .list {
    margin-left: -20px;
}

.sitemap .list li {
    float: left;
    margin-left: 20px;
    color: #555;
}

.sitemap .list li ul {
    clear: both;
}

.sitemap .list li ul li>span {
    display: block;
    background: #eee;
    width: 178px;
    height: 29px;
    line-height: 29px;
    padding: 1px 9px 0;
    font-size: 13px;
    font-weight: bold;
}

.sitemap .list li ul {
    margin-left: -20px;
}

.sitemap .list li li li {
    float: none;
    margin-top: 8px;
    background: url(../images/common/icon_tnb_bullets.png) no-repeat 0 0;
    background-position: 3px 3px;
}

.sitemap .list li li li+li {
    margin-top: 7px;
    background: url(../images/common/icon_tnb_bullets.png) no-repeat 0 0;
    background-position: 3px 3px;
}

.sitemap .list li li li a {
    line-height: 18px;
    padding-left: 10px;
}

.sitemap_sub_title {
    margin-top: 40px;
    margin-bottom: 15px;
}