@charset 'uft-8';

/* element */
.owl-carousel .disabled { display: none !important; }
.wrap  { width: 1330px; margin: 0 auto; position: relative; }
.wrap:after { content: ''; display: block; clear: both; }
button,
input,
textarea,
a { transition: .2s; }
button:focus,
input:focus,
textarea:focus,
a:focus,
select:focus { outline: 0 none; }
textarea,
input[type=text],
input[type=number],
input[type=password],
span.input,
select,
.file_upload_box {
    display: inline-block; vertical-align: top;
    background: #fff; border-radius: 3px; border: 1px solid #aaa;
    box-shadow: inset 1px 1px 0 #f4f4f4; height: 28px; box-sizing: border-box;
    padding: 3px 6px 5px; line-height: 20px; font-size: 12px; color: #444;
    font-weight: 400;
}
textarea { max-width: 100%; transition: .2s, width 0s, height 0s; min-width: 100px; min-height: 28px; }
input[type=file] { font-size: 12px; }
select {
    -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;
    background: #fff url('./images/ui/slct-arrow.png') right center no-repeat;
    padding-right: 20px;
}
select::-ms-expand { display: none; }
select { overflow: visible; }
span.input.readonly,
textarea[readonly],
input[type=text][readonly],
input[type=password][readonly] { background: #f4f4f4; box-shadow: none; }
select.full,
input[type=text].full,
input[type=password].full,
input[type=file].full,
textarea.full { width: 100%; min-width: 100%; }
textarea { height: auto; max-width: 100%; }
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
select:focus { border-color: #1847a6; }
select:focus { background-image: url('./images/ui/slct-arrow-on.png'); }
input._date { background: #ccc right center url('./images/ui/inpt-calendar.png'); background-size: auto 100%; }
input._date:focus { background-color: #4584e3; }
input.price { text-align: right; }
input.transparent { background: transparent; border-color: transparent !important; }
.blind { display: block; height: 0; overflow: hidden; }
i.newWindow {
    display: inline-block; vertical-align: middle; width: 13px; height: 11px;
    background: url('./images/ui/icon-newwindow.png') center no-repeat;
    background-size: contain; margin: 0 0 2px 2px; position: relative;
}
a.newWindow { position: relative; }
a.newWindow:before,
a.newWindow:after {
    content: ''; position: absolute; right: 0; top: 0; width: 0; height: 0;
    border: 4px solid; border-color: #fff #fff transparent transparent; 
    border-radius: 0 2px 0 0;    
}
a.newWindow:after {
    border: 3px solid; border-color: #4584e3 #4584e3 transparent transparent; 
    
}
a.newWindow:hover:before,
a.newWindow:focus:before,
a.newWindow:hover:after,
a.newWindow:focus:after{ right: -1px; top: -1px; }

a.link {
    color: #1847a6; padding-left: 14px; border-bottom: 1px solid #1847a6;
    background: url('./images/ui/icon-link.png') 0 3px no-repeat;
    background-size: 12px; transition: .2s; position: relative; top: 0; 
}
a.link:hover,
a.link:focus { top: -2px; padding-bottom: 2px; }

button.tip,
.tipButton {
    display: inline-block; box-sizing: border-box; vertical-align: 0; width: 16px; height: 16px;
    border: 1px solid #999; background: #f0f2fa; color: #1847a6;
    line-height: 13px; font-weight: 900; text-align: center; border-radius: 50%; 
    box-shadow: inset -1px -1px 0 rgba(71, 81, 125, 0.2); font-size: 11px; padding-bottom: 1px;
}
button.tip:hover,
button.tip:focus,
.tipButton:hover,
.tipButton:focus { border-color: #1847a6; background: #fff; }
button.tip+.tipContents,
.tipButton+.tipContents {
    position: absolute; padding: 0 0 0 !important; border-radius: 5px; margin-left: -9999px;
    box-shadow: 0 5px 20px 1px rgba(0,0,0,.1); box-sizing: border-box; opacity: 0;
    transition: opacity .2s, transform .2s, margin-left 0s .2s;
    transition-timing-function: ease-in; transform: translateY(-10px); z-index: 2;
}
button.tip+.tipContents:before,
.tipButton+.tipContents:before {
    content: ''; display: block; position: absolute; left: 0; right: 0; top: -5px;
    width: 2px; height: 0; margin: 0 auto;  transition-delay: .2s;
    border: solid transparent; border-width: 0 5px 5px; border-bottom-color: #1847a6;
}
button.tip+.tipContents dt,
button.tip+.tipContents dd,
.tipButton+.tipContents dt,
.tipButton+.tipContents dd {
    padding-left: 4px; padding-right: 4px; text-align: center !important;
    border: 1px solid #1847a6; font-weight: 400;
}
button.tip+.tipContents dt,
.tipButton+.tipContents dt {
    display: block; float: none !important; font-weight: 500; background: #1847a6;
    border-radius: 5px 5px 0 0; width: auto !important; color: #fff; font-size: 12px;
}
button.tip+.tipContents dd,
.tipButton+.tipContents dd {
    border-radius: 0 0 5px 5px; line-height: 18px; padding: 6px 15px 7px; color: #222;
    border-top: 0 none; background: #f0f2fa; margin: 0;
}
button.tip:hover+.tipContents,
button.tip:focus+.tipContents,
button.tip+.tipContents:hover,
.tipButton:hover+.tipContents,
.tipButton:focus+.tipContents,
.tipButton+.tipContents:hover {
    opacity: 1; transform: translateY(0); transition-delay: 0s; margin-left: 0;
}

button.softC,
button.softM {
    height: 22px; border-radius: 11px; background: #f0f2fa; padding: 0 16px 1px;
    color: #1847a6; font-size: 12px; letter-spacing: -.04em;
    font-weight: 400; box-sizing: border-box; line-height: 19px;
}
button.softM { background-color: #faf0f0; color: #f7424f; }
button.softC.line { border: 1px solid #aeb8e4; }
button.softM.line { border: 1px solid #f7424f; }
button.softM.line,
button.softC.line { box-shadow: 1px 1px #e8e8e8; }
button.line { padding: 0 15px 1px; }
button.softC:hover,
button.softC:focus { background: #1847a6; color: #fff; border-color: #1847a6; }
button.softM:hover,
button.softM:focus { background: #f7424f; color: #fff; border-color: #f7424f; }
a.softLight {
    display: inline; color: #fff; box-shadow: 1px 1px 0 #e8e8e8;
    height: 20px; border-radius: 10px; padding: 0 10px 1px; box-sizing: border-box;
    background: #1847a6 center no-repeat; font-size: 12px; background-size: cover;
	
}
a.softLight.icon {
    width: 20px; text-indent: -999px; overflow: hidden; background-color: #4584e3;
    min-width: 0; display: inline-block; vertical-align: middle;
    position: relative; left: 0; top: 0;
}
a.softLight:hover,
a.softLight:focus { background-color: #fff; color: #1847a6; }
a.softLight:active { left: 1px; top: 1px; box-shadow: 0 0 0 1px #e8e8e8; color: #fff; }
a.softLight.icon.setting { background-image: url('./images/ui/bttn_circle-setting.png'); }
a.softLight.icon.list { background-image: url('./images/ui/bttn_circle-list.png'); }
a.softLight.icon.write { background-image: url('./images/ui/bttn_circle-write.png'); }

ul.form {
    margin: 0 10px; border: solid #ccc; border-width: 1px 0; padding-bottom: 1px;
    line-height: 28px;
}
ul.form li { padding: 6px 10px; border-bottom: 1px solid #ccc; }
ul.form .title {
    display: block; font-size: 12px; font-weight: 400; color: #1847a6; line-height: 20px;
}
ul.form .note {
    position: relative; padding-left: 12px;
    font-size: 11px; font-weight: 300; color: #4584e3; line-height: 18px;
}
ul.form .note:before {
    content: '※';  position: absolute; left: 0; top: 0;
}
ul.form+div.function {
    margin-left: 10px; margin-right: 10px; padding-left: 7px; padding-right: 7px;
}

ul.options { padding: 14px; }
ul.options:after { content: ''; display: block; clear: both; }
ul.options.radio li { float: left; box-sizing: border-box; padding: 8px 0 10px; }
ul.options.inline { display: inline-block; vertical-align: middle; margin-right: -20px; padding: 0; font-size: 0; }
ul.options.inline li { display: inline-block; vertical-align: top; margin-right: 20px; font-size: 13px; }
ul.options+hr.end { margin-top: 0; }
ul.options.col6 li { width: 16.6%; }
ul.options.col5 li { width: 20%; }
ul.options.radio li,
ul.options.col4 li { width: 25%; }
ul.options.col3 li { width: 33.3%; }
ul.options.col2 li { width: 50%; }
ul.options.inline.col6,
ul.options.inline.col5,
ul.options.inline.col4,
ul.options.inline.col3,
ul.options.inline.col2 { width: 100%; }
ul.options.inline.col6,
ul.options.inline.col5,
ul.options.inline.col4,
ul.options.inline.col3,
ul.options.inline.col2,
ul.options.inline.col6 li,
ul.options.inline.col5 li,
ul.options.inline.col4 li,
ul.options.inline.col3 li,
ul.options.inline.col2 li { margin-right: 0; }
ol.depths:after { content: ''; display: block; clear: both; }
ol.depths li { float: left; box-sizing: border-box; }
ol.depths.col6 li { width: 16.6%; padding-right: 6px; }
ol.depths.col6 li input[type=text] { width: 100%; }
ol.depths li.rest { float: none; overflow: hidden; width: auto; padding-right: 0; }

ul.function { font-size: 0; }
ul.function li { display: inline-block; vertical-align: top; }
ul.function li+li { margin-left: 10px; }
div.function {
    padding: 7px 15px; color: #999;
    font-size: 12px; line-height: 24px; font-weight: 400;
}
div.function:after { content: ''; display: block; clear: both; }
nav.lnb+.contents div.function { height: 24px; }
nav.lnb+.contents div.function:after { content: none; }
div.function .left { float: left; }
div.function .right { float: right; }
div.function input[type=checkbox],
label.check input[type=checkbox] { position: absolute; opacity: 0; }
div.function input[type=checkbox]+i,
label.check input[type=checkbox]+i {
    display: inline-block; width: 18px; height: 18px; border-radius: 3px; box-sizing: border-box;
    border: 1px solid #999; background: #f0f2fa; padding: 1px;
    box-sizing: border-box; vertical-align: middle; margin-top: -2px; transition: .2s;
    position: relative; 
}
div.function input[type=checkbox]+i i,
label.check input[type=checkbox]+i i {
    display: block; width: 100%; height: 100%; box-sizing: border-box;
    border-radius: 1px; border: 1px solid #ccc; background: #fff;
    transition: .2s;
}
div.function input[type=checkbox]+i:after,
div.function input[type=checkbox]+i i:before,
div.function input[type=checkbox]+i i:after,
label.check input[type=checkbox]+i:after,
label.check input[type=checkbox]+i i:before,
label.check input[type=checkbox]+i i:after {
    content: ''; display: block; position: absolute; transition: .1s;
}
div.function input[type=checkbox]+i:after,
label.check input[type=checkbox]+i:after {
    width: 2px; height: 4px; transform-origin: 2px 2px; transform: rotate(-45deg); z-index: 1;
    background: #fff; border-radius: 2px; left: 6px; top: 8px; transition-delay: 0s;
}
div.function input[type=checkbox]+i i:before,
label.check input[type=checkbox]+i i:before {
    width: 0; height: 2px; transform-origin: 1px 1px; transform: rotate(45deg); z-index: 2;
    background: #f7424f; border-radius: 1px; left: 3px; top: 5px; transition-delay: .1s;
}
div.function input[type=checkbox]+i i:after,
label.check input[type=checkbox]+i i:after {
    width: 0; height: 2px; transform-origin: 1px 1px; transform: rotate(-45deg); z-index: 2;
    background: #f7424f; border-radius: 1px; left: 7px; top: 9px; transition-delay: 0s;
}
div.function input[type=checkbox]:checked+i:after,
label.check input[type=checkbox]:checked+i:after { width: 16px; transition-delay: .1s; }
div.function input[type=checkbox]:checked+i i:before,
label.check input[type=checkbox]:checked+i i:before { width: 7px; transition-delay: 0s; }
div.function input[type=checkbox]:checked+i i:after,
label.check input[type=checkbox]:checked+i i:after { width: 14px; transition-delay: .1s; }
/*
label.check input[type=checkbox][disabled]+i { border-color: #ccc !important; cursor: default; }
label.check input[type=checkbox][disabled]+i i { background: #ccc; }
label.check input[type=checkbox][disabled]+i:after,
    label.check input[type=checkbox][disabled]+i i:before,
     label.check input[type=checkbox][disabled]+i i:after { opacity: 0; } */

.function.withEnd { padding: 6px 8px; margin: -46px 0 10px; }
.function.withEnd button.remove {
    color: #000; box-shadow: 1px 1px 0 #e8e8e8;
    background: #999 url('./images/ui/bttn_table-delete.png') 0 center no-repeat; background-size: auto 100%;
    border-color: #000; padding-left: 30px; font-weight:500;
}

.contents #main_page .end .left { color:#000; font-weight:600; }
.contents #main_page .end .left > button { border:1px solid #000;font-size:13px;  margin-right:4px; padding:2px 8px; }

.function.withEnd button.remove:hover,
.function.withEnd button.remove:focus {
    color: #f7424f; border-color: #f7424f; background-color: #f7424f; }
.function.withEnd button.remove:active { left: 1px; top: 1px; box-shadow: 0 0 0 1px #e8e8e8; transition: none; }

div.function label:hover { color: #1847a6; }
div.function label:hover input[type=checkbox]+i,
div.function input[type=checkbox]:focus+i,
label.check:hover input[type=checkbox]+i,
label.check input[type=checkbox]:focus+i { border-color: #1847a6; }
label.radio { font-size: 12px; font-weight: 400; line-height: 16px; }
label.radio+label.radio { margin-left: 10px; }
label.radio input[type=radio] { position: absolute; opacity: 0; }
label.radio input[type=radio]+i {
    display: inline-block; vertical-align: middle; width: 18px; height: 18px; position: relative;
    margin-bottom: 1px;
}
label.radio input[type=radio]+i:before,
label.radio input[type=radio]+i:after,
label.radio input[type=radio]+i i:before,
label.radio input[type=radio]+i i:after {
    content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
    margin: auto; box-sizing: border-box; transition: .2s;
}
label.radio input[type=radio]+i:before {
    border: 1px solid #999; background: #f0f2fa; position: relative;
    border-radius: 50%; transition: .2s; width: 100%; height: 100%;
}
label.radio input[type=radio]+i i:before {
    width: 12px; height: 12px; border-radius: 50%; border: 1px solid #ccc;
    background: #fff;
}
label.radio input[type=radio]+i i:after {
    width: 18px; height: 18px; border-radius: 50%; border: 1px solid #1847a6;
    background: #fff; opacity: 0;
}
label.radio input[type=radio]+i:after {
    width: 12px; height: 12px; border-radius: 50%; background: #f7424f; opacity: 0;
}
label.radio input[type=radio]:checked+i:before { opacity: 0; }
label.radio input[type=radio]:checked+i i:before {
    border-color: #aeb8e4; width: 18px; height: 18px; 
}
label.radio input[type=radio]:checked+i i:after {
    border-color: #1847a6; width: 12px; height: 12px; opacity: 1;
}
label.radio input[type=radio]:checked+i:after {
    width: 6px; height: 6px; opacity: 1; transition-delay: .1s;
}
.function button,
button.function {
    position: relative; left: 0; top: 0; height: 24px; line-height: 20px; box-sizing: border-box;
    background: #f0f2fa; border: 1px solid #aeb8e4; padding: 0 12px 2px;
    border-radius: 12px; position: relative; box-shadow: 0 0 #e8e8e8;
    font-size: 12px; color: #1847a6; font-weight: 400; box-shadow: 1px 1px #f4f4f4;
}
.function button:hover,
.function button:focus,
button.function:hover,
button.function:focus {
    left: -1px; top: -1px; box-shadow: 2px 2px #f4f4f4;
    background: #4584e3; border-color: #4584e3; color: #fff;
}
button.function:active { left: 0; top: 0; box-shadow: box-shadow: 0 0 #e8e8e8; transition: 0s; }
.function button.subGray {
    background: #f4f4f4; border: 1px solid #f4f4f4; color: #999;
    box-shadow: none;
}
.function button.subGray:hover,
.function button.subGray:focus {
    background: #f0f2fa; border: 1px solid #fff; 
    color: #4584e3; box-shadow: 1px 1px #e8e8e8;
}
a.cubic,
button.cubic {
    position: relative; left: 0; top: 0;
    height: 36px; background: #fff; border: 1px solid #aaa; border-radius: 5px;
    font-size: 13px; color: #47517d; line-height: 34px;
    box-shadow: inset 0 0 0 4px #f4f4f4, 2px 2px #e8e8e8;
    display: inline-block; vertical-align: middle; padding-left: 10px; padding-right: 10px; text-align: center;
}
a.cubic { padding: 0 12px 2px; font-weight: 400; box-sizing: border-box; }
a.cubic:hover,
a.cubic:focus,
button.cubic:hover,
button.cubic:focus {
    box-shadow: inset 0 0 0 4px #f4f4f4, 3px 3px #e8e8e8; border-color: #4584e3;
}
a.cubic:active,
button.cubic:active { left: 2px; top: 2px; box-shadow: none; transition: none; }
a.cubic.vivid,
button.cubic.vivid { font-weight: 500; color: #4584e3; }

.action { font-size: 0; }
.action a,
.action button,
.action .button {
    display: inline-block;
    height: 40px; min-width: 120px; border-radius: 5px; box-sizing: border-box;
    background: #fff; box-shadow: 2px 2px #e8e8e8; border: 1px solid #aaa;
    font-size: 13px; font-weight: 400; padding-left: 18px; padding-right: 18px; padding-bottom: 0;
}
.action a { line-height: 36px; }
.action a+a,
.action a+button,
.action button+a,
.action button+button,
.action .button+.button { margin-left: 10px; }
.action a.full,
.action button.full { width: 100%; }
.action a:hover,
.action a:focus,
.action button:hover,
.action button:focus {
    background: #f0f2fa; color: #1c2032;
}
.action a[disabled],
.action button[disabled] { border: 0 none; box-shadow: none; }
.action a.exe,
.action a.progress,
.action button.exe,
.action button.progress {
    background-color: #f7424f; color: #fff; border-color: #f7424f;
    box-shadow: 2px 2px #ccc; font-weight: 500;
}
.action a.exe:hover,
.action a.exe:focus,
.action a.progress:hover,
.action a.progress:focus,
.action button.exe:hover,
.action button.exe:focus,
.action button.progress:hover,
.action button.progress:focus { color: #fdf150; background: #ec3551; }
.action a.progress,
.action button.progress {
    background-color: #1847a6; color: #fff; border-color: #1847a6;
}
.action a.progress:hover,
.action a.progress:focus,
.action button.progress:hover,
.action button.progress:focus { background: #4584e3; }
.action.decide,
.action.final { text-align: right; padding: 10px 0; }
.action.decide>a,
.action.final>a,
.action.decide>button,
.action.final>button  { height: 60px; width: 185px; font-size: 15px; }
.action.decide div.sub,
.action div.left { float: left; }
.action.decide div.sub a,
.action.decide div.sub button { font-size: 12px; }
.action.final { text-align: center; }
.action.final a { line-height: 56px; }
.action .neighbor { float: left; }
.action .button { line-height: 37px; color: #999; font-size: 11px; font-weight: 500; }
.action .button a { color: #4584e3; font-size: 13px; color: #444; }
.action .button.prev a:before,
.action .button.next a:before { margin-right: 4px; color: #4584e3; font-weight: 400; font-size: 10px; }
.action .button.prev a:before { content: '이전글'; }
.action .button.next a:before { content: '다음글'; }
.action a.goOrder {
    border-color: #fff; box-shadow: inset 0 0 0 5px #aeb8e4, 2px 2px 0 #e4e6ed;
    width: 200px; height: 50px; position: relative; 
    text-align: center; line-height: 47px; color: #47517d; font-size: 14px; font-weight: 400;
}
.action a.goOrder:hover,
.action a.goOrder:focus { border-color: #47517d; background: #fff; }
.action a.goOrder:active { left: 2px; top: 2px; }
.action a.goOrder:after {
    content: ''; display: inline-block; width: 23px; height: 20px; vertical-align: -4px;
    background: url('./images/ui/bttn-goorder.png') center no-repeat; background-size: 100%;
    margin-left: 10px;
}


.progressBar { height: 20px; position: relative; overflow: hidden; }
.progressBar:before {
    content: ''; width: 500%; position: absolute; left: 0; top: 0; bottom: 0;
    background: linear-gradient(90deg,#4584e3,#fdf150,#f7424f,#fdf150,#4584e3,#fdf150);
    animation: progressMov 5s infinite linear;
}
@keyframes progressMov {
    0% { left: 0; }
    100% { left: -400%; }
}

/* table */
td input,
td select { max-width: 100%; }
td .rest { overflow: hidden; }
td .rest input,
td .rest select { width: 100% !important; }

table { border-collapse: separate; table-layout: fixed; width: 100%; }
table.list,
table.view { border: solid #aaa; border-width: 1px 0; }
table.list,
table.view { border-bottom-color: #ccc; }
table.list span[onclick],
table.view span[onclick] { cursor: pointer; border-bottom: 1px solid transparent; transition: .2s; }
table.list span[onclick]:hover,
table.view span[onclick]:hover { border-bottom-color: #1847a6; } 
table.list thead th {
    border: 0 solid #aaa; background: #f0f2fa; font-size: 12px; font-weight: 500;
    color: #47517d; line-height: 18px; vertical-align: middle; padding: 0 10px 2px; height: 72px;
}
table.list thead th:first-child { border-left-width: 1px; }
table.list thead th:last-child { border-right-width: 1px; }
table.list thead tr:last-child th { border-bottom: 1px solid #aaa; }
table.list thead th+th { border-left: 1px solid #ccc; }
table.list.thead { margin-bottom: 1px; border-bottom: 0 none;}

table.list tbody td {
    text-align: center; padding: 10px 0; font-size: 13px; font-weight: 400;
    color: #444; vertical-align: middle;
}
table.list tbody td+td { border-left: 1px solid #ccc; }
table.list tbody tr:nth-child(2n+1) td { background: #fff; }

table.sheetForm { border: solid #aaa; border-width: 1px 0; }
table.sheetForm th,
table.sheetForm td { border-bottom: 1px solid #aaa; padding: 6px; }
table.sheetForm th {
    padding-left: 16px; background: #f4f4f4; vertical-align: middle;
    font-size: 12px; font-weight: 400; color: #444; text-align: left;
}
table.sheetForm td { font-size: 13px; font-weight: 400; }
table.sheetForm:after { content: ''; display: table-cell; height: 1px; }
table.sheetForm col.th { width: 120px; }
table.sheetForm col.email { width: 360px; }
table.sheetForm input,
table.sheetForm select { width: 127px; }
table.sheetForm input.corp { width: 194px; }
table.sheetForm span.text,
table.sheetForm span.guide { padding: 0 4px; }
table.sheetForm ol.tel:after { content :''; display: block; clear: both; }
table.sheetForm ol.tel li { float: left; }
table.sheetForm ol.tel li+li { padding-left: 17px; position: relative; }
table.sheetForm ol.tel li+li:before {
    content: ''; display: block; width: 7px; height: 1px; background: #444;
    position: absolute; left: 5px; top: 0; bottom: 0; margin: auto 0;
}
table.sheetForm ol.tel select { width: 60px; }
table.sheetForm ol.tel input[type=text] { width: 50px; }
table.sheetForm ol.email:after,
table.sheetForm ol.address:after { content: ''; display: block; clear: both; }
table.sheetForm ol.email li,
table.sheetForm ol.address li { float: left; margin-right: 5px; }
table.sheetForm ol.address li.zipCode { float: none; margin: 0 0 5px 0; width: auto; }
table.sheetForm ol.address li.zipCode input { width: 60px; text-align: center; margin-right: 3px; }
table.sheetForm ol.address li.zipCode~li input[type=text] { width: 317px; }
table.sheetForm button { margin-top: 3px; }
table.sheetForm ol.email li input[type=text] { width: 194px; }
table.sheetForm span+button.function,
table.sheetForm input+button.function,
table.sheetForm select+button.function { margin-left: 4px; }
table.sheetForm .rowWrap+.rowWrap { margin-top: 4px; }

table.list.info col.check { width: 54px; }
table.list.info col.no,
table.list.info col.weight { width: 80px; }
table.list.info col.date,
table.list.info col.view { width: 100px; }
table.list.info col.post { width: 200px; }
table.list.info col.amount { width: 110px; }
table.list.info col.price { width: 140px; }
table.list.info col.id,
table.list.info col.bank,
table.list.info col.accountHolder { width: 150px; }
table.list.info col.tm,
table.list.info col.corp,
table.list.info col.title { width: 130px; }
table.list.info col.name { width: 110px; }
table.list.info col.btn { width: 70px; }
table.list.info col.btn2 { width: 110px; }
table.list.info col.tel { width: 120px; }
table.list.info col.email { width: 200px; }
table.list.info col.deliveryType { width: 100px; }
table.list.info col.category,
table.list.info col.status { width: 100px; }
table.list.info col.bankAccount,
table.list.info col.orderId { width: 165px; }

table.list.info thead th { height: 32px; padding: 5px; }
table.list.info tbody th { display: table-cell; }
table.list.info tbody th,
table.list.info tbody td { height: 40px; font-size: 13px; background: #fff; line-height: 18px; }
table.list.info thead th+th,
table.list.info tbody td+td { border-left: 0 none; }
table.list.info tbody tr:nth-child(2n+1) th,
table.list.info tbody tr:nth-child(2n+1) td { background-color: #f4f4f4; }
table.list.info tbody.hiddenRow tr th,
table.list.info tbody.hiddenRow tr td { background: #fff; }
table.list.info tbody.hiddenRow tr:nth-child(4n+1) th,
table.list.info tbody.hiddenRow tr:nth-child(4n+1) td,
table.list.info tbody.hiddenRow tr:nth-child(4n+2) th,
table.list.info tbody.hiddenRow tr:nth-child(4n+2) td { background: #f4f4f4; }
table.list.info tbody tr:only-child th,
table.list.info tbody tr:only-child td,
table.list.info tbody.multi:only-of-type tr:only-of-type th,
table.list.info tbody.multi:only-of-type tr:only-of-type td { background: #fff; }
/*table.list.info tbody tr:only-child th,
table.list.info tbody tr:only-child td { height: 60px; }*/
table.list.info tbody.multi:only-of-type th,
table.list.info tbody.multi:only-of-type td,
table.list.info tbody.multi tr:only-of-type th,
table.list.info tbody.multi tr:only-of-type td { height: 40px; }
table.list.info tbody.multi:only-of-type tr:only-of-type th,
table.list.info tbody.multi:only-of-type tr:only-of-type td { height: 60px; }
table.list.info tbody tr:only-child td:only-child,
table.list.info tbody.multi:only-of-type tr:only-of-type td:only-child { color: #999; }
table.list.info tbody.multi tr th,
table.list.info tbody.multi tr td { background: #fff; border-width: 0; }
table.list.info tbody.multi:nth-child(2n) tr th,
table.list.info tbody.multi:nth-child(2n) tr td { background: #f4f4f4; }
table.list.info thead+tbody.multi tr th,
table.list.info thead+tbody.multi tr td { border-top-width: 1px; }
table.list.info tbody.multi:last-child tr th,
table.list.info tbody.multi:last-child tr td { border-bottom-width: 1px; }
table.list.info tbody tr td.noResult { background: transparent; }
table.list.info thead:after,
table.list.info colgroup+tbody:before {
    content: ''; display: table-cell; height: 1px;
}
table.list tbody tr:last-child th,
table.list tbody tr:last-child td,
table.list tbody.multi:last-child tr th,
table.list tbody.multi:last-child tr td {
    border-bottom: 1px solid #aaa;
}
table.list:after,
table.view:after {
    content: ''; display: table-cell; height: 1px; 
}
table.list.info tbody.multi tr:first-child th,
table.list.info tbody.multi tr:first-child td { border-top: 0 none; }
table.list.info tbody tr:first-child th,
table.list.info tbody tr:first-child td,
table.list.info thead+tbody.multi tr:first-child th,
table.list.info thead+tbody.multi tr:first-child td { border-top: 1px solid #aaa; }
table.list.info .subject {
    font-weight: 500; color: #1847a6; line-height: 18px;
}
table.list.info .information { font-weight: 400; color: #444; font-size: inherit;}
table.list.info th.left,
table.list.info td.left,
table.list.info td.subject { padding-left: 15px; text-align: left; }
table.list.info th.right,
table.list.info td.right,
table.list.info th.amount,
table.list.info td.amount,
table.list.info th.price,
table.list.info td.price { padding-right: 15px; text-align: right; }
table.list.info dl.orderDetail dt { font-weight: 500; color: #1847a6; }
table.list.info dl.orderDetail dd.orderAfter { font-weight: 500; color: #1847a6; }
table.list.info td.price { color: #1847a6; }
table.list.info td.discount { color: #f7424f; font-weight: 500; }
table.list.info td.discount:before { content: '-'; }

table.list.info caption {
    font-weight: 400; font-size: 12px; color: #47517d;
    line-height: 36px; padding-bottom: 2px; text-align: left;
}
table.list.info caption em,
table.list.info caption strong { font-weight: 500; color: #f7424f; }
table.list.info caption .resultNum {
    float: left; padding-left: 19px;
    background: url('./images/ui/icon-result_num.png') 3px center no-repeat; 
    background-size: 10px 8px;
}
table.list.info caption select.listNum { float: right; margin-top: 3px; width: 116px; }
table.view.info { text-align: center; border-top: 0 none; }
table.view.info thead th { background: #f0f2fa; border: 0 none; line-height: 12px; }
table.view.info thead th.narrow { height: 23px; }
table.view.info thead tr:first-child th { border-top: 1px solid #aaa; }
table.view.info thead tr:last-child th,
table.view.info thead tr th.lastTr { border-bottom: 1px solid #aaa; }
table.view.info thead th:first-child { border-left: 1px solid #aaa; }
table.view.info thead th:last-child { border-right: 1px solid #aaa; }
table.view.info thead th+th,
table.view.info thead th.noFirst { border-left: 1px solid #ccc; }
table.view.info thead th.sub { background: #e6e9f7; }
table.view.info thead+tbody:before { content: ''; display: table-cell; height: 1px; }
table.view.info tbody th,
table.view.info tbody td { border: 0 none; height: 60px; }
table.view.info tbody th  { font-weight: 700; color: #47517d; font-size: 12px; }
table.view.info tbody tr:first-child th,
table.view.info tbody tr:first-child td { border-top: 1px solid #aaa; }
table.view.info tbody tr:nth-child(2n) th { background: #e6e9f7; }
table.view.info tbody tr:nth-child(2n) td { background: #f4f4f4; }
table.view.info tbody tr:last-child th,
table.view.info tbody tr:last-child td { border-bottom: 1px solid #ccc; }
table.view.info tbody *+th,
table.view.info tbody *+td { border-left: 1px solid #ccc; }

table.list.info.faq td { background: transparent no-repeat; }
table.list.info.faq tr:nth-child(4n-1) td { background-color: #fff; }
table.list.info.faq tr.question td:first-child {
    padding-left: 65px; background-image: url('./images/pages/cs-ug-faq-question.png');
    background-size: 22px; background-position: 34px 22px;
}
table.list.info.faq tr.question td[onclick] { cursor: pointer; }
table.list.info.faq tr.question td.on {
    background-image: url('./images/pages/cs-ug-faq-fold.png'); background-size: 16px;
    background-position: 34px 20px;
}
table.list.info.faq tr.answer td { padding: 0; height: 0; }
table.list.info.faq tr.answer div {
    background: #f0f2fa url('./images/pages/cs-ug-faq-answer.png') 60px center no-repeat;
    background-size: 46px; margin-bottom: 2px; box-shadow: 0 2px 0 #ccc; 
    border-radius: 5px; border: 2px solid #4584e3;
    text-align: left; padding: 35px 26px 35px 118px;
}
table.list.info.faq tr.answer p+p { margin-top: 10px; }
table.list.info.faq tr.answer .text_st_01 { font-weight: 500; color: #f7424f; }
table.list.info.faq tr.answer a {
    color: #1847a6; padding-left: 14px; border-bottom: 1px solid #1847a6;
    background: url('./images/ui/icon-link.png') 0 5px no-repeat;
    background-size: 11px; transition: .2s; position: relative; top: 0; 
}
table.list.info.faq tr.answer a:hover,
table.list.info.faq tr.answer a:focus { top: -2px; padding-bottom: 2px; }
table.list.info.faq tr.answer font { font: inherit !important; }

header.section+table.horizontalView { border-top: 0 none; }
table.horizontalView { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
table.horizontalView th,
table.horizontalView td { border-bottom: 1px solid #ccc; padding: 7px 10px; }
table.horizontalView th { background: #f4f4f4; font-size: 12px; font-weight: 500; }
table.horizontalView td { font-size: 13px; font-weight: 400; word-break: normal; }
table.horizontalView th+th,
table.horizontalView th.noFirst { border-left: 2px solid #fff; }
table.horizontalView tbody:after { content: ''; height: 1px; display: table-cell; }
table.horizontalView.plain thead th { background: #f0f2fa; }
table.horizontalView.plain thead th+th { border-left: 0 none; }
table.horizontalView.plain tbody th { background: #fff; position: relative; border-left: 0 none; }
table.horizontalView.plain tbody th:after {
    content: ''; display: block; position: absolute; right: 0; top: 0; bottom: 0;
    width: 2px; background: #f4f4f4;
}

table.whitePlain { border: 2px solid #fff; }
table.whitePlain th,
table.whitePlain td { padding-top: 6px; padding-bottom: 6px; vertical-align: middle; }
table.whitePlain th { line-height: 18px;}
table.whitePlain td {
    background: #f4f4f4; font-size: 12px; font-weight: 400; text-align: center;
    line-height: 18px;
}
table.whitePlain th+td,
table.whitePlain td+td { border-left: 2px solid #fff; }
table.whitePlain tr+tr th { border-top: 2px solid #f4f4f4; }
table.whitePlain tr+tr td { border-top: 2px solid #fff; }
table.whitePlain thead:after { content: ''; height: 2px; display: table-cell; background: #f4f4f4; }
table.whitePlain thead th+th { border-left: 2px solid #f4f4f4; }
.box table.whitePlain.spec th { font-size: 12px; font-weight: 500; color: #47517d; border-color: #fff; text-align: center; }
.box table.whitePlain { border-color: #f4f4f4; }
.box table.whitePlain thead:after { background: #fff; }
.box table.whitePlain th { background: #f4f4f4; }
.box table.whitePlain td { background: #fff; border-color: #f4f4f4; }

header.section+table.list.info { margin-top: -2px; }
header.section+table.list.info thead tr:first-child th,
table.list.info caption~thead tr:first-child th { position: relative; }
header.section+table.list.info thead tr:first-child th:before,
table.list.info caption~thead tr:first-child th:before {
    content: ''; display: block; left: 0; right: 0; top: 0; height: 2px; position: absolute;
    background: #fff;
}

.contents table.view,
.popup table.view { border-top-width: 2px; font-weight: 400; border-color: #ccc; }
.contents table.view col.th,
.popup table.view col.th { width: 100px; }
.contents table.view col.action,
.popup table.view col.action { width: 300px; }
.contents table.view th,
.contents table.view td,
.popup table.view th,
.popup table.view td {
    border-bottom: 1px solid #ccc; height: 38px; vertical-align: middle;
    font-size: 13px; font-weight: 400; padding-bottom: 2px; 
}
.contents table.view th,
.popup table.view th { background: #fff; font-weight: 500; color: #444; font-size: 12px; }
.popup table.view th { background: #f4f4f4; }
.contents table.view td,
.popup table.view td { padding-left: 10px; padding-right: 10px; }

table.view caption {
    color: #47517d; line-height: 35px; font-size: 14px; font-weight: 500; text-align: left;
}
table.view caption:before { content: '˙'; margin: 0 2px; }

.noResult {
    color: #999 !important; font-size: 12px !important; font-weight: 500 !important; 
    text-align: center !important; padding-left: 0 !important; padding-right: 0 !important;
}

.tableScroll { overflow-y: auto; border: solid #aaa; border-width: 1px 0; background: #f4f4f4; }
.tableScroll .wrap { width: auto; }
.tableScroll table { border-top: 0 none; border-bottom: 0 none; }
.tableScroll table.list.info tr:first-child th,
.tableScroll table.list.info tr:first-child td { border-top: 0 none; }
td.btn { text-align: center; }
td.btn button,
td.btn .button {
    display: inline-block; margin: 0 auto; text-indent: -999px; overflow: hidden; width: 36px; height: 36px; position: relative;
    border-radius: 50%; box-sizing: border-box; border: 1px solid #aeb8e4;
    background: #f0f2fa center no-repeat; box-shadow: 1px 1px 0 #e8e8e8; 
    background-size: 16px;
}
td.btn button+button  {margin-left: 6px; }
td.btn button:hover,
td.btn button:focus { border-color: #4584e3; }
td.btn button:active {
    box-shadow: 0 0 0 #e8e8e8; left: 1px; top: 1px; border-color: #1847a6;
    transition: none;
}

td.btn .button.attachedFile {
    border: 0 none; background: transparent url('./images/ui/icon-file-ok.png') center no-repeat;
    background-size: 15px 20px; box-shadow: none;
}
td.btn button.cancel,
td.btn button.required { border-color: #e4aeae; background-color: #faf0f0; }
td.btn button.cancel:hover,
td.btn button.cancel:focus,
td.btn button.required:hover,
td.btn button.required:focus { border-color: #f7424f; }
td.btn button.upload.required {
    background-image: url('./images/ui/bttn_function-upload.png'); background-size: 18px; 
}
td.btn button.cancel {
    background-image: url('./images/ui/bttn_function-cancel.png'); background-size: 18px; 
}
td.btn button.menu {
    background-image: url('./images/ui/bttn_function-more.png');
}
td.btn button.menuClose {
    background-image: url('./images/ui/bttn_function-more.png');
}
td.btn button.reUpload {
    background-image: url('./images/ui/bttn_function-re_upload.png');
}
td.btn button.download {
    background-image: url('./images/ui/bttn_function-download.png');
}
td.btn button.goOrder {
    background-image: url('./images/ui/bttn_function-load.png');
}
td.btn button.group {
    background-image: url('./images/ui/bttn_function-group.png');
}
td.btn button.ungroup {
    background-image: url('./images/ui/bttn_function-ungroup.png');
}
td.btn button.location {
    background-image: url('./images/ui/bttn_function-location.png');
}
td.btn button.modify {
    background-image: url('./images/ui/bttn_function-modify.png');
}
td.btn button.viewOrderDetails { display: none; }
td.btn button._showOrderDetails { display: inline-block; }
td.btn .menuWrap {
    overflow: hidden; position: absolute; transition: .2s; opacity: 0;
    top: 0; bottom: 0; margin: auto 0; right: 17px; padding-right: 0; 
    height: 36px; box-sizing: border-box; background: #f0f2fa; 
    border: 1px solid #aeb8e4; border-radius: 18px; padding: 0 36px 0 10px;
    transform: scale(0); transform-origin: right center;
}
td.btn .menuWrap ul { white-space: nowrap; }
td.btn .menuWrap ul:after { content: ''; display: block; clear: both; }
td.btn .menuWrap li { display: inline-block; vertical-align: top; }
td.btn .menuWrap button {
    border: 0 none; height: 34px; width: auto; box-shadow: none; padding: 0 5px 2px; border-radius: 0;
    text-indent: 0; background-image: none; font-size: 11px; line-height: 13.5px; padding-bottom: 1px;
}

.fileUpload { position: relative; padding-left: 80px; }
.fileUpload button { position: absolute; left: 0; top: 0; bottom: 0; margin: auto 0; }
.fileUpload .fileInput { display: none; }
.fileUpload .fileList {
    display: inline-block; vertical-align: top; background: #fff;
    border-radius: 3px; border: 1px solid #aaa;
    box-shadow: inset 1px 1px 0 #f4f4f4; box-sizing: border-box;
    height: 28px; line-height: 25px; padding: 0 10px; font-size: 12px;
    color: #444; font-weight: 500; width: 100%;
}
td.btn.menu { position: relative; }
td.btn.menu button.menu,
td.btn.menu button.upload { position: relative; z-index: 1; }
td.btn .menuWrap button:hover { background: transparent; color: #1847a6; }
td.btn button.menuClose { display: none; z-index: 1; position: relative; margin-left: 0; }
td.btn.menuOn button.menu { display: none; }
td.btn.menuOn button.menuClose { display: inline-block; }
td.btn.menuOn .menuWrap { opacity: 1; transform: scale(1); }

span.status {
    box-sizing: border-box; height: 24px; border-radius: 12px; background: #fff;
    border: 2px solid #ccc; font-size: 11px; font-weight: 400;
    color: #444; padding: 0 6px 1px; min-width: 68px; line-height: 18px;
    display: inline-block; vertical-align: middle;
}
.departure span.status,
span.status.departure { border-color: #1847a6; }
td.inProgress span.status,
span.status.inProgress { border-color: #4584e3; }
span.status.진행중 { border-color: #4584e3; }
td.completed span.status,
span.status.completed { border-color: #1847a6; background: #1847a6; color: #fff; }
span.status.변경완료 { border-color: #1847a6; background: #1847a6; color: #fff; }
td.cancel span.status,
span.status.cancel { border-color: #f7424f; background: #f7424f; color: #fff; }
span.status.변경취소 { border-color: #faf0f0; background: #faf0f0; color: #f7424f; }
span.status.C { border-color: #4584e3; background: #4584e3; color: #fff; }
span.status.M { border-color: #f7424f; background: #f7424f; color: #fff; }

/* search */
.searchCondition {
    background: #fff; border-radius: 5px; padding: 18px 129px 18px 19px; position: relative;
    line-height: 30px; font-size: 12px; font-weight: 400; color: #444;
    white-space: nowrap; margin-bottom: 12px;
}
.searchCondition .rowWrap { height: 30px; }
.searchCondition .rowWrap+.rowWrap { margin-top: 10px; }
.searchCondition dl { float: left; height: 100%; }
.searchCondition dl.full { width: 100%; }
.searchCondition dl.last { float: right; }
.searchCondition dt {
    width: 80px; height: 100%; text-align: center; background: #f4f4f4;
    text-shadow: 0 1px 1px rgb(71,81,125,.1); float: left; margin-right: 9px;
}
.searchCondition dd { padding-top: 1px; float: left; }
.searchCondition dd+dd { padding-left: 9px; }
.searchCondition dd:last-child { overflow: hidden; float: none; }
.searchCondition input[type=text],
.searchCondition select { width: 110px; }
.searchCondition dd.rest input[type=text] { width: 100%; }
.searchCondition button.search {
    position: absolute; right: 19px; bottom: 18px;
    background: #f0f2fa url('./images/ui/bttn_search-find.png') left center no-repeat;
    background-size: auto 100%;
    width: 30px; border-radius: 15px; width: 90px; padding-left: 20px;
    font-size: 12px; font-weight: 500; color: #1847a6;
}
.searchCondition button.search:hover,
.searchCondition button.search:focus {
    right: 20px; bottom: 19px; box-shadow: 1px 1px 0 #aeb8e4;
}
.searchCondition button.search:active {
    right: 19px; bottom: 18px; box-shadow: 0 0 1px 1px #aeb8e4;
    transition: none;
}
.searchCondition .date dd { font-size: 0; }
.searchCondition .date .hyphen {
    display: inline-block; vertical-align: top; line-height: 24px;
    width: 20px; text-align: center; font-weight: 700; font-size: 16px;
}
.searchCondition .date .preset {
    display: inline-block; vertical-align: top; height: 100%; margin-left: 7px;
}
.searchCondition .date .preset li { float: left; width: 42px; height: 28px; }
.searchCondition .date .preset li+li { margin-left: 1px; }
.searchCondition .date .preset button {
    width: 100%; height: 100%; font-size: 12px; font-weight: 500;
    color: #47517d; text-align: center; line-height: 24px;
    background: #f4f4f4; border-radius: 3px; 
}
.searchCondition .date .preset button:hover,
.searchCondition .date .preset button:focus { background: #e8e8e8; }
.searchCondition .date .preset button.on { background: #aeb8e4; color: #fff; }
.searchCondition .title:only-child input { width: 863px; }
.searchCondition .delivery+.title input,
.searchCondition .type+.title input { width: 644px; }

#ui-datepicker-div .ui-datepicker-header { background: #f4f4f4; border-color: #f4f4f4; font-size: 12px; font-weight: 500; }
#ui-datepicker-div .ui-datepicker-prev span,
#ui-datepicker-div .ui-datepicker-next span { display: none; }
#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next {
    border-radius: 50%; background: transparent; border: 0 none;
    top: 2px;
}
#ui-datepicker-div .ui-datepicker-prev { left: 2px; }
#ui-datepicker-div .ui-datepicker-next { right: 2px; }
#ui-datepicker-div .ui-datepicker-prev:before,
#ui-datepicker-div .ui-datepicker-next:before {
    content: ''; display: block; width: 0; height: 0; position: absolute;
    left: 0; right: 0; top: 0; bottom: 0; margin: auto; border: solid transparent;
    border-width: 4px 5px;
}
#ui-datepicker-div .ui-datepicker-prev:before { border-left-width: 0; border-right-color: #4584e3; right: 1px; }
#ui-datepicker-div .ui-datepicker-next:before { border-right-width: 0; border-left-color: #4584e3; left: 1px; }
#ui-datepicker-div .ui-datepicker-prev:hover,
#ui-datepicker-div .ui-datepicker-prev:focus,
#ui-datepicker-div .ui-datepicker-next:hover,
#ui-datepicker-div .ui-datepicker-next:focus { background: #fff; }
#ui-datepicker-div th { font-size: 13px; font-weight: 500; padding: 4px 0; }
#ui-datepicker-div td span,
#ui-datepicker-div td a {
    padding: 5px 0 3px; text-align: center; border-radius: 3px; border: 0 none; background: #f4f4f4; font-weight: 900; font-family: 'NanumSquareRound', sans-serif;
}
#ui-datepicker-div td a:hover { background: #e8e8e8; }
#ui-datepicker-div td a.ui-state-highlight { background: #fdf150; }
#ui-datepicker-div td a.ui-state-highlight:hover { color: #1847a6; }
#ui-datepicker-div td a.ui-state-active { background: #1847a6; color: #fff; }
#ui-datepicker-div td a.ui-state-active.ui-state-highlight { color: #fdf150; }

.contents .paging { font-size: 0; text-align: right; padding: 10px 0; margin: 0 -5px; }
.contents .paging li {
    display: inline-block; vertical-align: top; height: 40px;
    font-family: 'NanumSquareRound', sans-serif; font-size: 16px; font-weight: 900;
    color: #444; position: relative; 
}
.contents .paging li>* { width: 40px; display: block; }
.contents .paging .first { padding-right: 30px; }
.contents .paging .last { padding-left: 30px; }
.contents .paging .first:before,
.contents .paging .last:before {
    content: '…'; color: #444; position: absolute; width: 40px; height: 40px;
    line-height: 44px; text-align: center;
}
.contents .paging .first:before { right: -5px; }
.contents .paging .last:before { left: -5px; }
.contents .paging button {
    display: block; height: 100%; padding-top: 2px; margin: 0 5px;
    border-radius: 5px; background: #fff; box-shadow: 2px 2px 0 #e8e8e8;
}
.contents .paging button.on {
    background: #4584e3; color: #fff; box-shadow: 2px 2px 0 #ccc;
}
.contents .paging button.on:hover,
.contents .paging button.on:focus { color: #fdf150; }
.contents .paging .first button,
.contents .paging .last button,
.contents .paging .prev button,
.contents .paging .next button { color: #999; }
.contents .paging button:hover,
.contents .paging button:focus { color: #1847a6; box-shadow: 2px 2px 0 #ccc; }
.contents .action .paging,
.contents hr.end+.paging { padding-top: 0; }
.contents .action .paging button {
    min-width: 0; border: 0 none; font-size: 1rem; font-weight: 900; padding: 0;
}

nav.pageTab {
    font-size: 0; position: relative; overflow: hidden; height: 42px;
    margin: -2px -1px 10px; box-shadow: 0 2px 0 0 #fff; padding: 2px 1px 0;
}
nav.pageTab:after {
    content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; background: #4584e3;
    z-index: 1;
}
nav.pageTab a,
nav.pageTab button {
    display: inline-block; vertical-align: top; position: relative; z-index: 0; box-sizing: border-box;
    overflow: visible; border: 1px solid #aaa;
    box-shadow: inset 5px 0 0 0 #f4f4f4, inset 0 5px 0 0 #f4f4f4, inset -5px 0 0 0 #f4f4f4;
    border-bottom: 0 none; border-radius: 5px 5px 0 0; height: 41px;
    min-width: 200px; padding: 10px; background: #fff; 
    font-size: 13px; color: #999; font-weight: 500; text-align: center;
}
nav.pageTab a+a,
nav.pageTab button+button,
nav.pageTab a+button,
nav.pageTab button+a { margin-left: 10px; }
nav.pageTab a:hover,
nav.pageTab a:focus,
nav.pageTab a.on,
nav.pageTab button:hover,
nav.pageTab button:focus,
nav.pageTab button.on { color: #1847a6; }
nav.pageTab a.on,
nav.pageTab button.on {
    z-index: 2; font-size: 14px; padding-top: 11px; margin-top: -2px; height: 44px;
    box-shadow: inset 5px 0 0 0 #f0f2fa, inset 0 5px 0 0 #f0f2fa, inset -5px 0 0 0 #f0f2fa, 0 1px 0 0 #fff, 2px 2px 0 #ccc; border-color: #4584e3; 
}
nav.pageTab a.on:after,
nav.pageTab button.on:after {
    content: ''; display: block; position: absolute; bottom: 0; right: -3px;
    width: 2px; height: 1px; background: #4584e3;
}
nav.pageTab.narrow a,
nav.pageTab.narrow button { min-width: 101px; }
nav.pageTab.depth2 {
    background: #fff; margin-top: -10px; height: 45px;
    padding-top: 10px; padding-left: 13px; padding-right: 13px;
}
nav.pageTab.depth2:after { background: #47517d; }
nav.pageTab.depth2 a {
    min-width: 120px; height: 36px; border-radius: 6px; border: 1px solid #aeb8e4;
    box-shadow: none; line-height: 13px; box-shadow: 2px 2px 0 #e4e6ed; color: #1847a6;
    font-size: 12px; position: relative;
}
nav.pageTab.depth2 a:hover,
nav.pageTab.depth2 a:focus { border-color: #1847a6; }
nav.pageTab.depth2 a:active { left: 2px; top: 2px; box-shadow: 0 0 0 #e4e6ed; }
nav.pageTab.depth2 a.on {
    border-color: #47517d; height: 47px; border-radius: 6px 6px 0 0; border-bottom: 0 none;
    line-height: 28px; font-weight: 500; color: #47517d; font-size: 13px; padding-bottom: 0;
    box-shadow: inset 5px 0 0 0 #f0f2fa, inset 0 5px 0 0 #f0f2fa, inset -5px 0 0 0 #f0f2fa, 0 1px 0 0 #fff, 2px 2px 0 #ccc;
    text-shadow: 2px 2px 0 #f4f4f4;
}
nav.pageTab.depth3 {
    background: transparent; border-bottom: 1px solid #ccc; height: auto; padding: 9px 10px;
    box-shadow: none; margin-top: -10px; 
}
nav.pageTab.depth3:after {
    content: ''; display: block; background: transparent; border-bottom: 1px solid #ccc;
    margin-bottom: 1px;
}

nav.pageTab.depth3 a {
    height: 22px; border-radius: 11px; background: #fff; line-height: 21px; padding: 0 15px 1px;
    border: 0 none; box-shadow: none; min-width: 0; font-size: 13px; font-weight: 500; color: #47517d;
}
nav.pageTab.depth3 a:hover,
nav.pageTab.depth3 a:focus,
nav.pageTab.depth3 a.on { color: #4584e3; margin-top: 0; }
nav.pageTab.depth3 a.on { background: transparent; }
nav.pageTab.depth3 a.on:after { content: none; }
nav.pageTab.depth3 a.on:hover,
nav.pageTab.depth3 a.on:focus { background: #fff; }

.star.rating1,
.star.rating2,
.star.rating3,
.star.rating4,
.star.rating5 { font-size: 0; }
.star.rating1:before,
.star.rating2:before,
.star.rating3:before,
.star.rating4:before,
.star.rating5:before { font-size: 12px; letter-spacing: 2px; margin-right: 2px; display: inline-block; vertical-align: 1px; color: #4584e3; text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff; }
.star.rating1:before { content: '★'; }
.star.rating2:before { content: '★★'; }
.star.rating3:before { content: '★★★'; }
.star.rating4:before { content: '★★★★'; }
.star.rating5:before { content: '★★★★★'; }

.top_submenu { display:flex; }
.top_submenu .virtual_account { position:relative; top:8px; display:inline-block; font-size:12px;}
.top_submenu .virtual_account b { color:#fff; background:#2a5da8; font-size:11px; padding:0px 8px; border-radius:12px; margin-right:6px; display:inline-block; }
.top_submenu .advance_deposit { position:relative; top:8px; display:inline-block; font-size:12px;}
.top_submenu .advance_deposit b { color:#fff; background:#52b91f; font-size:11px; padding:0px 8px; border-radius:12px;margin-left:4px; margin-right:6px; display:inline-block; }